#container {
  width: 100%;
  /*height: 100%;*/
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding-top: 8%;
  padding-bottom: 10%;
  z-index: 0;
  /* background: rgb(143, 209, 202); */
}

.ti-container {
  margin-bottom: 50px;
}

#nav {
  padding-top: 10px !important;
  padding-bottom: 120px !important;
  position: relative;
  width: 100%;
  height: 50px;
  z-index: 49;
}

.logo {
  margin-top: 12px;
  float: left;
  position: fixed;
}

ul {
  text-decoration: none;
  /*    vertical-align: middle;
  padding-bottom: 10px;*/
  background-color: #ffffff;
  margin-top: 210px;
  margin-left: 83px;
  width: 100px;
  height: 50px;
  top: 0px;
  left: 0px;
  padding: 0;


}

li {
  display: inline;
  font-family: 'Open Sans', sans-serif !important;
  font-weight: 400;
  font-size: 20px;
  padding-left: 20px;
  background-color: #ffffff;
  /* margin-right: 4px;
  margin-bottom: 4px; */
}

li a {
  text-decoration: none;
  color:rgb(143, 209, 202);
  position: fixed;
  /*    vertical-align: middle;*/
}

.home {
  margin-right: 40px;
}

.about {
  margin-left: 20px;
}

#example4 {
  font-size: 50px;
  margin: 0;
  vertical-align: middle;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: rgb(143, 209, 202);
}

@media screen and (max-width: 480px) {
  #example4 {
    font-size: 35px;
  }
  li a {
    font-size: 0.93em;
  }
}

#wrapper {
  width: 90%;
  margin: 0 auto;
}

.grid-container {
  position: relative;
  background-color: #ffffff;
  width: 50%;
  z-index: 50;
}

#grids1 {
  /* max-width: 975px; */
  width: 90vw;
  height: 100vh;
  display: grid;
  grid-template-columns: auto auto auto ;
  grid-column-gap: 30px;
  padding-left: 60px;
  padding-top: 40px;
}

.Eboxin {
  /* margin: 0 auto; */
  position: relative;
  max-width:  2000px;
  margin-top: 70px;
  margin-bottom: 25px;
}

.Eboxin img {
  /* position: absolute; */
  position: relative;
  display: inline-block;
  vertical-align: top;
}h

 /* .Eboxin :hover{
      -ms-transform: scale(1.1); /* IE 9 */
      -webkit-transform: scale(1.1); /* Safari 3-8 */
      transform: scale(1.05);
      transition: transform .6s;
} */

.Eboxin-info {
  position: absolute;
  display: inline-block;
  z-index: 30;
  max-width: 30%;
  margin-bottom: 5%;
  box-sizing:  border-box;
  /* margin-left: -15%; */
  /* background-color: rgba(254, 255, 254, 0.7); */
  box-shadow: 3px 3px #2B4857;
}

.Eboxin h3 {
  font-size: 18px;
  text-align: left;
  font-family: 'Roboto', sans-serif;
  color: #2B4857;
  line-height: 1.5;
  background-color: white;
}

.headerT2 {
  font-size: 40px;
  font-family: 'Roboto', sans-serif;
  color: #2B4857;
  margin-top:  unset;
  text-align: left;
}

.breakdown {

  font-size: 15px;
  font-family: 'Roboto', sans-serif;
  color: #2B4857;
  margin-left: 15%;
  text-align: left;
  background-color: white;
}



h1.ProjC {
  font-size: 24px;
  font-family: 'Roboto', sans-serif;
  color: #2B4857;
  margin: unset;
  min-width: 120px;
  z-index: 1;
}

.Epara {
  font-size: 17px;
  font-weight: 300;
  font-family: "Roboto", sans-serif;
  color: #5c5c5c;
  padding-left: 24px;
  line-height: 2;
  background-color: white;
  position: relative;
}

/* .Epara img {
  width: 100%
} */

.Epara p {
  margin-top: unset;
}

#Eboxin {
  align-items: center;
}

.boxin {
  /* width: 30%; */
  /* height: 60vh;
  background: url("../images/escape.png");
  cursor: pointer;
  background-position: center !important;
  border-radius: 2px;
  position: relative; */
  display: block;
  margin-bottom: 40px;
  border-radius: 13px;
  max-height: 310px;
  min-height: 156px;
  object-fit: cover;
  object-position: center center;
  box-shadow: 0 15px 60px -15px rgba(0, 0, 0, 0.5);
}

.boxin:hover{
  transform: scale(1.05);
  z-index: 300;
}

.text {
  color: white;
  font-family: 'Roboto', sans-serif !important;
  font-size: 20px;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  margin-top: 40%;
  margin-left: 50%;
}

.overlay1 {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  border-radius: 13px;
  background-color: rgb(107,98,171, 0.8);
}

#boxin-1 {
  transition: all 0.5s ease;
  background: url("../images/pom.png");
  background-size: cover;
  background-position: center;
}

#boxin-1:hover .overlay1 {
  opacity: 1;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.overlay2 {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  border-radius: 13px;
  background-color: rgb(72, 72, 72, 0.8);
}

#boxin-2 {
  transition: all 0.5s linear;
  background: url("../images/challenging.png");
  background-size: cover;
  background-position: center;

  /* grid-row: span 2; */
  /* grid-column: span 2; */
}

#boxin-2:hover .overlay2 {
  opacity: 1;
}

.overlay3 {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  border-radius: 13px;
  background-color: rgb(164, 195, 177,0.8);
}

#boxin-3 {
  transition: all 0.5s linear;
  background: url("../images/game03.jpg");
  grid-column: span 1;
  background-size: cover;
}

#boxin-3:hover .overlay3 {
  opacity: 1;
}

 .overlay4 {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  border-radius: 13px;
  background-color: rgb(75, 56, 42, 0.8);
}

#boxin-4 {
  transition: all 0.5s linear;
  background: url("../images/doublec.png");
  background-size: cover;
  background-position: center;
}

 #boxin-4:hover .overlay4 {
  opacity: 1;
}

 .overlay5 {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  border-radius: 13px;
  background-color: rgb(113,32,90, 0.8);

}

#boxin-5 {
  transition: all 0.5s linear;
  background: url("../images/preG1.png");
  background-size: cover;
  background-position: center;
}

#boxin-5:hover .overlay5 {
  opacity: 1;
}

.overlay6 {
 top: 0;
 bottom: 0;
 left: 0;
 right: 0;
 height: 100%;
 width: 100%;
 opacity: 0;
 transition: .5s ease;
 border-radius: 13px;
 background-color: rgb(240,240,240, 0.8);

}

#boxin-6 {
 transition: all 0.5s linear;
 background: url("../images/crimage2.jpg");
 background-size: cover;
 background-position: center;
}

#boxin-6:hover .overlay6 {
 opacity: 1;
}

.project-head{
  text-align: center;
}

.project-container {
  max-width: 880px;
  margin: 0 auto;
}

.project-description {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-bottom: 32px;
}

.project-description:last-child {
  margin-bottom: 80px;
}

.anim, .anim svg {
  position: absolute;
  position: fixed;
  z-index: -5;
  width: 100%;
  height: 100%;
}
.anim path {
  stroke-width: 2;
}


.zoom {
    padding: 50px;
    transition: transform .2s;
    width: 300px;
    height: 200px;
    margin: 0 auto;
}

.zoom:hover {
    -ms-transform: scale(1.20); /* IE 9 */
    -webkit-transform: scale(1.20); /* Safari 3-8 */
    transform: scale(1.20);
}

.zoom1 {
    padding: 50px;
    transition: transform .2s;
    margin: 0 auto;
}

.zoom1:hover {
    -ms-transform: scale(1.20); /* IE 9 */
    -webkit-transform: scale(1.20); /* Safari 3-8 */
    transform: scale(1.20);
}

#resume{
  box-shadow: 0 15px 60px -15px rgba(0, 0, 0, 0.5);
}

#resume:hover{
  -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
  transform: scale(1.05);
  transition: transform .6s;
}

#footer{
  font-family: 'Open Sans', sans-serif !important;
  font-size: 12px;
  text-decoration: none;
  color:rgb(43, 72, 87);
  text-align: center;
  margin: 0;
}

.spacing{
  margin: 20px;
}
