

@import url('https://fonts.googleapis.com/css?family=Quicksand');

body {

	<iframe width="560" height="315" src="https://www.youtube.com/embed/hPCotoawhk0" frameborder="0" allowfullscreen></iframe>
	font-family: 'Open Sans Condensed', sans-serif;

}

#sitetitle{
	font-family: 'Roboto', sans-serif;
	font-size: 260%;
}

.logo{
	z-index: 9;
	position: fixed;
	width: 100vw;
	height:150px;
	background: white;

}
.div1{
	height: 45vh;
	width: 55vw;
	margin-left: 25%;
	margin-top: 8%;
	text-align: center;
	font-family:'Quicksand', sans-serif;
	word-spacing: 5px;
	


}

.div2{
	font-family: 'Roboto', sans-serif;
	text-align: center;
	display: inline-block;
	background: #995950;
	height: 300px;
	width:350px;
	margin-bottom: 20px;
	margin-left: 135px;
	border: solid 0px black;
	border-radius: 50px;  <--- need to add image to the shape


}
.div3{
	font-family: 'Roboto', sans-serif;
	text-align: center;
	display: inline-block;
	background: #995950;
	height: 300px;
	width:350px;
	margin-left: 135px;
	border: solid 0px black;
	border-radius: 50px;  <--- need to add image to the shape
}

nav ul{
	height: 100%;
	display: flex;
	object-position: absolute;
}

nav ul li{
	font-family: 'Roboto', sans-serif;
	display: inline-block;
	width: 20vw; 
	font-size: 250%;
	margin-left: 80px;
	text-align: center;
	width: 20vw;
}

nav ul li a{
	color: #995950;
	text-decoration: none;
	display: block;
	margin-top: 220px;
	font-size: 20px;
	text-align: center;
	margin-left: 230px; 
	z-index: 1;
}

.div0{
	z-index: -1;
	position: fixed;
	size: 2000;
}

#header{
	position: relative;
	width: 100vw;
	height: 80px;
	background: red;
}

#navigation{
	top: 0;
	left: 0px;
	position: fixed;
	width: 100vw;
	height: 70px;
	background: white;
}

#container{
	z-index: -1;
	position: relative;
	width: 100vw;
	height: 2000px;
	background: blue;
	display: flex;
}

#footer{
	position: relative;
	widows: 100vw;
	height: 20px;
	background: black;
}

#absoluteing{
	position: absolute;
	top: 300px;
	left: 200px;
}

.columns{
	display: inline-block;
	

}





